<style>
    div {
        background-color: rgb(200, 148, 255);
        padding: 5px 20px;
        border-radius: 10px;
        width: 500px;
        margin: auto;
        
    }
    p{
        color: red;
    }
    .submit{
        background-color: green;
        color:aliceblue;
        border-color:green;
        width: 60%;
        align-items: center;
    }
    .submit a{
            color:aliceblue;
            text-decoration: none;
        }
    label {
         display: block;
        margin-top: 10px;
    }
    input {
        width: 90%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
</style>

<div>
    <h1><center>Mini Gmail System</center></h1>
    <h3><center>Login</center></h3>

<form method="POST" >
    {% csrf_token %}
    <label>Gmail:</label>
    <input type="text" name="gmail" placeholder="Enter your gmail" required><br><br>
    <label>Password:</label>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>
    <button type="button" onclick="togglePassword()">👁</button>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}


    <h6>Don't have an account? <a href="{% url 'signup' %}">Create one</a></h6>

    <button type="submit" class="submit">Login</button>

</form>

<script>

function togglePassword() {

    let password =
        document.getElementById("password");

    if (password.type ==="password")

        { password.type ="text";}

    else {password.type ="password";}
}

</script>
</div>